<div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="one-third">
    <h2>Project Management</h2>
    <p>
      I'm a project management professional with experience directing projects,
      outlining timelines, establishing and adhering to budgets, and coordinating
      stakeholder participation.
    </p>
  </div>
  <div class="one-third middle">
    <h2>Digital Project Management</h2>
    <p>
      I utilize my project mangement background along with my web development skills
      to help direct the building of your website or to help coordinate other IT
      or creative projects and content editing.
    </p>
  </div>
  <div class="one-third">
    <h2>Freelance Web Development</h2>
    <p>I help individuals and small businesses build clean and modern websites from
      scratch using HTML, CSS, JQuery, Javascript, Node.js and Bootstrap.  I also
      design websites using the Squarespace platform.
    </p>
  </div>
</div>
