<div class="user-details">
  <h1>About Me</h1>
  <p> {{site.user_description}} </p>
</div>
<div class="user">
  <div class="one-third">
    <h2>Project Management Professional</h2>
    <p>
      Project management professional with extensive training and experience
      diligently directing projects, outlining timelines, establishing and adhering
      to budgets, and coordinating stakeholder participation. 
    </p>
  </div>
  <div class="one-third middle">
    <h2>Technical Project Management</h2>
    <p>
      Web development specialist with fundamental knowledge of design and front-end
      development, project management, and content editing.
    </p>
  </div>
  <div class="one-third">
    <h2>Freelance Web Development</h2>
    <p>Squarespace web development specialist and custom website development.</p>
  </div>
</div>
