<div class="user-details">
  <h1>Some projects I have recently worked on:</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="summer camp picture" src="{{ "/assets/img/Bococa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BococaCampFinder </h3>
    <p>BococaCampFinder is a web app that helps parents find a summer camp for their child in the BoCoCa
      Neighborhoods of Brooklyn and surrounding areas. I created BococaCampFinder after talking with fellow
      mom friends and realizing the lack of a central place to find all the summer camps within their neighborhood.
    </p>
    <p>
      I designed the website and build it using HTML, CSS, Bootstrap, Javascript, Node.js for the server and Mongo
      for the database.
    </p>
    <a class="BococaCampFinder" href="https://aqueous-badlands-14233.herokuapp.com/">BococaCampFinder</a>
    <span>-</span>
    <a class="My Github Repo" href="https://github.com/Laurawbrooklyn/bococa-camp-finder/">Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cold weather pic" src="{{ "/assets/img/Weather.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Weather Finder App</h3>
    <p>This is a weather app I built. You can search by city name or city and country. Each city results
      page background changes based on the actual current weather happening now in the city you selected.
    </p>
    <p>I developed this project using the OpenWeatherMap API. I designed and built this using HTML, CSS,
      JQuery and Node.js for the server.
    </p>
    <a class="Weather Finder App" href="https://immense-fjord-68436.herokuapp.com/">Weather Finder App</a>
    <span> - </span>
    <a class="My Github Repo" href="https://github.com/Laurawbrooklyn/weather-app-project">Repo</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="conversation project nyc homepage" src="{{ "/assets/img/conversation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Conversation Project NYC </h3>
    <p>The Conversation Project is a series of interviews with influencers in the contemporary art world that
      examines connections between art, culture, and technology.
    </p>
    <p>
      I am the digital project manager.I designed, built and maintain the website
      and I also do content editing.
    </p>
    <a class="Conversation" href="https://www.conversationprojectnyc.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="demo web page" src="{{ "/assets/img/amazing.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Amazing Shipping</h3>
    <p>Here is a sample project I worked on for an artist.  Amazing is part of a conceptual
      art project and an ideological startup with headquarters in New York City.
    </p>
    <p>I coordinated the design and developed this website in coordination with the artist.
    </p>
    <a class="Amazing Shipping homepage" href="http://www.amazingshipping.org/">Check it out</a>
  </div>
</div>
