<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="summer camp picture" src="{{ "/assets/img/Bococa.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> BococaCampFinder </h3>
    <ul>
      <li>Full Stack Web Development</li>
    </ul>
    <p>BococaCampFinder is a web app that helps you find the perfect summer camp for your child in the BoCoCa Neighborhoods of Brooklyn and surrounding areas. BococaCampFinder was created after talking with fellow mom friends and realizing the lack of a central place to find all the summer camps within their neighborhood.</p>
    <a class="BococaCampFinder" href="https://aqueous-badlands-14233.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="cold weather pic" src="{{ "/assets/img/Weather.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Weather App </h3>
    <ul>
      <li>Front-End Web Development</li>
    </ul>
    <p>This is a simple weather app build using the OpenWeatherMap API. You can search by city name or city and country. Each result page is taylored to the weather happening now in your city.</p>
    <a class="Weather App" href="https://immense-fjord-68436.herokuapp.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="conversation project nyc homepage" src="{{ "/assets/img/conversation.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Conversation Project NYC </h3>
    <ul>
      <li>Digital Project Management/Web Development/Content Editing</li>
    </ul>
    <p>The Conversation Project is a series of interviews with influencers in the contemporary art world that examines connections between art, culture, and technology.</p>
    <a class="Conversation" href="https://www.conversationprojectnyc.com/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="demo web page" src="{{ "/assets/img/amazing.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3>Freelance Web Development</h3>
    <ul>
      <li>Squarespace</li>
    </ul>
    <p>Amazing is a ideological startup with headquarters in New York City. Website designed using Squarespace platform.</p>
    <a class="Amazing Shipping homepage" href="http://www.amazingshipping.org/">Check it out</a>
  </div>
</div>
